<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Add activity</title>
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700" rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link rel="stylesheet" href="css/loader/loaders.css" type="text/css">

    <link rel="stylesheet" href="css/font-awesome/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/aos/aos.css" type="text/css">
    <link rel="stylesheet" href="css/swiper/swiper.css" type="text/css">
    <link rel="stylesheet" href="css/lightgallery.min.css" type="text/css">

    <link rel="stylesheet" href="css/style.css" type="text/css">

    <link rel="stylesheet" href="css/responsive.css" type="text/css">
    <link rel="stylesheet" href="css/custom.css" type="text/css">
</head>

<body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header class="w-100">
        <div class="container">

            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/"><img id="logophoto" src="img/logo.png" alt="narrowcarbon"></a>
                <div class="group d-flex align-items-center">
                    <a href="" class="login"><i class="fa fa-user" aria-hidden="true"></i>Bhunesh</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>

                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <%- body %>
        <footer>
            <!-- Widgets Start -->
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                                <div class="media">
                                    <i class="fa fa-map-marker"></i>
                                    <div class="media-body ml-3">
                                        <h6>Address</h6>
                                        Center for Design and New Media<br> Indraprastha Institute of Information Technology, New Delhi, India
                                    </div>
                                </div>
                                <div class="media">
                                    <i class="fa fa-envelope-o"></i>
                                    <div class="media-body ml-3">
                                        <h6>Have any questions?</h6>
                                        <a href="mailto:support@narrowcarbon.com">Support@narrowcarbon.com</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <i class="fa fa-phone"></i>
                                    <div class="media-body ml-3">
                                        <h6>Contact us</h6>
                                        <a href="tel:+65485545489"> +91 65485545489</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <i class="fa fa-fax"></i>
                                    <div class="media-body ml-3">
                                        <h6>Twitter</h6>
                                        <a href="">Narrow Carbon</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-widget subscribe-widget" data-aos="fade-up" data-aos-delay="800">
                            <h6 class="widget-tiltle">Subscribe us</h6>
                            <p>Sign up for our mailing list to get latest updates and offers</p>
                            <form class="" method="get">
                                <div class="input-group">
                                    <input class="field form-control" name="subscribe" type="email" placeholder="Email Address">
                                    <span class="input-group-btn">
                                        <button type="submit" name="submit-mail"><i class="fa fa-check"></i></button>
                                    </span>
                                </div>
                            </form>
                            <p>We respect your privacy</p>
                            <ul class="nav social-nav">
                                <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <!-- Footer Endt -->
        <!--jQuery-->
        <script src="js/jquery-3.3.1.js"></script>
        <!--Plugins-->
        <script src="js/bootstrap.bundle.js"></script>
        <script src="js/loaders.css.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/swiper.min.js"></script>
        <script src="js/lightgallery-all.min.js"></script>
        <!--Template Script-->
        <script src="js/main.js"></script>
</body>

</html>