<section class="hero">
    <div class="container">
        <form action="/getdata" method="get">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-11">
                    <div class="swiper-container hero-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide-content d-flex align-items-center">
                                <div class="single-slide">
                                    <h1 data-aos="fade-right">Question 4<br> ------------------
                                    </h1>
                                    <p data-aos="fade-right"> Enter the amount of avg distance <br> you cover by your own car ?(number in K.M.)</p>
                                    <input type="number" name="card" class="form-control" id="">

                                </div>
                            </div>

                            <div class="swiper-slide slide-content d-flex align-items-center">
                                <div class="single-slide">
                                    <h1 data-aos="fade-right">Question 2<br> ------------------
                                    </h1>
                                    <p data-aos="fade-right"> what is the year of manufacturing<br> of your car ?(number)
                                    </p>
                                    <input type="number" name="carM" class="form-control" id="">

                                </div>
                            </div>
                            <div class="swiper-slide slide-content d-flex align-items-center">
                                <div class="single-slide">
                                    <h1 data-aos="fade-right">Question 3<br> ------------------
                                    </h1>
                                    <p data-aos="fade-right"> what is the amount of distance <br>you travelled by bike ?(number in K.M.)
                                    </p>
                                    <input data-aos="fade-right" type="number" name="bikedistance" id="">

                                </div>
                            </div>
                            <div class="swiper-slide slide-content d-flex align-items-center">
                                <div class="single-slide">
                                    <h1 data-aos="fade-right">Question 4<br> ------------------
                                    </h1>
                                    <p data-aos="fade-right"> Enter the number of household <br>member ?(number)
                                    </p>
                                    <input type="number" name="nohouse" id="">

                                </div>
                            </div>
                            <div class="swiper-slide slide-content d-flex align-items-center">
                                <div class="">
                                    <h1>Question 5<br> ------------------
                                    </h1>
                                    <p> Are you vegen ? YES OR NO
                                    </p>
                                    <input type="text" name="vegan" id="">
                                    <button type="submit" class="btn btn-primary"> submit </button>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <span class="arr-left"><i class="fa fa-angle-left"></i></span>
            <span class="arr-right"><i class="fa fa-angle-right"></i></span>

        </form>
    </div>
    <div class="texture"></div>
    <div class="diag-bg"></div>
</section>