<div class="dropdown" id="dropdown">
    <span style="color: black;">what activity do you want to select</span>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      click here
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/transport">Transportation</a>
        <a class="dropdown-item" href="/lifestyle">Lifestyle</a>

    </div>
</div>